DIFY_API_KEY=
DIFY_BASE_URL=http://host.docker.internal:18080/v1
FUND_DB_URL=jdbc:kingbase8://kingbase:54321/fund_research?currentSchema=public
FUND_DB_USERNAME=system
FUND_DB_PASSWORD=1234
FUND_DB_NAME=fund_research
KINGBASE_DB_MODE=pg
KINGBASE_ENCODING=UTF-8
JWT_SECRET=FundResearch-change-this-secret-before-production-2026
